@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin:0;
    padding:0;


}

body {
    background-image: url("./snow.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    /* To align */
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    
}

.countdown-container{
    display: flex;
}

h1{
    font-size: 4rem;
    margin-top: 5rem;
    font-weight: normal;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem ;
}

.countdown-element{
    text-align: center;
}

.countdown-element span {
    font-size: 1.3rem;
}
